In [1]:
print("Hello World")

Hello World

In [2]:
a = 10
b = 10

print(a)

10

In [3]:
print(a,b)

10 10

In [4]:
print(id(a))

1527253527120

In [5]:
print(id(b))

1527253527120

In [6]:
c = 20
print(id(c))

1527253527440

In [7]:
A = 'Hello'
print(A)

Hello

In [8]:
_ = 10
print(_)

10

In [9]:
a1 = 5
print(a1)

5

In [10]:
1a = 6

SyntaxError: invalid syntax (Temp/ipykernel_10796/493479639.py, line 1)

In [11]:
a_b = 12
print(a_b)

12

In [12]:
print('a_b')

a_b

In [13]:
@a = 25
print(@a)

SyntaxError: invalid syntax (Temp/ipykernel_10796/3458530810.py, line 1)

In [14]:
_a = 25
print(_a)

25

In [15]:
# string concatenation / join two string variables

a = "Hello"

In [16]:
b = "NetTech India"

In [17]:
print(a+b)

HelloNetTech India

In [18]:
print(a+" "+b)

Hello NetTech India

In [19]:
c = 20

In [20]:
print(c+30)

50

In [21]:
print(a+c)

TypeError: can only concatenate str (not "int") to str

In [22]:
d = '50'

In [23]:
print(a+d)

Hello50

In [24]:
a = 10
print(a)
b = "Tanmay"
print(b)
c = Hello

10
Tanmay

NameError: name 'Hello' is not defined

In [25]:
# this is comment
print("Tanmay")

Tanmay

In [26]:
''' I start my comment from this line ---
comment ----------------------------------
comment-----------------------------------
done.'''
print("Tanmay")

Tanmay

In [27]:
""" I start my comment from this line ---
comment ----------------------------------
comment-----------------------------------
done."""
print("Tanmay")

Tanmay

In [28]:
# data types

In [29]:
a = 10
print(type(a))

<class 'int'>

In [30]:
b = 10.0
print(type(b))

<class 'float'>

In [31]:
c = 10j
print(type(c))

<class 'complex'>

In [32]:
d = "welcome Tanmay sir"

In [33]:
print(type(d))

<class 'str'>

In [34]:
e = ["Iphone" , "Samsung" , "Googlepixel"]

In [35]:
type(e)

list

In [36]:
f = ("Iphone" , "Samsung" , "Googlepixel")
print(type(f))

<class 'tuple'>

In [37]:
g = {"Iphone" , "Samsung" , "Googlepixel"}
print(type(g))

<class 'set'>

In [38]:
h = {"Name":"Tanmay"}
print(type(h))

<class 'dict'>

In [39]:
x = 10
y = 5

i = x > y

In [40]:
print(type(i))

<class 'bool'>

In [41]:
no = range(10,25,1)
print(type(no))

<class 'range'>

In [42]:
# input and output

In [43]:
name = input("Enter name = ")

Enter name = tanmay

In [44]:
print("my name is" , name)

my name is  tanmay

In [45]:
print("my name is" , name)

my name is tanmay

In [46]:
n1 = int(input("Enter number"))
print("num is", n1)

Enter number01
num is 1

In [47]:
n2 = float(input("Enter number"))
print("num is", n2)

Enter number4.5
num is 4.5

In [58]:

# operators

# ARITHMATIC OPERATOR

In [49]:
a = 45 
b = 18

In [50]:
a = 45 
b = 18
print(a+b)

63

In [51]:
print(a-b)

27

In [52]:
print(a*b)

810

In [53]:
print(a/b)

2.5

In [54]:
print(a//b)

2

In [55]:
print(a%b)

9

In [56]:
print(a**b)

572565594852444156646728515625

In [60]:

# RELATIONAL OPERATOR

In [62]:
x = 10
Y = 5

print(x > Y)
print(x < Y)
print(x == Y)
print(x != Y)
print(x >= Y)
print(x <= Y)

True
False
False
True
True
False

In [63]:
a = 45
b = 18

In [64]:
a += b
print(a)

63

In [65]:
a -= b
print(a)

45

In [66]:
a = 45
b = 18
a *= b
print(a)

810

In [67]:
a = 45
b = 18
a /= b
print(a)

2.5

In [68]:
a = 45
b = 18
a //= b
print(a)

2

In [69]:
a = 45
b = 18
a %= b
print(a)

9

In [70]:
a = 45
b = 2
a **= b
print(a)

2025

In [71]:

# Logical Operator

In [72]:
x = 5
print(x > 3  and   x < 10)
print(x > 3  or   x < 10)
print(not(x > 3))

True
True
False

In [73]:

# Membership Operator

In [74]:
x = ["apple" , "banana"]

print("banana" in x)
print("banana" not in x)

True
False

In [75]:

# Identity Operator

In [76]:
x = 10
y = 11
z = 10

print(x is y)
print(x is z)
print(x is not y)
print(x is not z)

False
True
True
False

In [77]:

# Bitwise operator

In [78]:
a = 7
b = 4

In [79]:
print(a & b)

4

In [80]:
print(a|b)

7

In [81]:
print(a^b)

3