In [1]:
roll_no = 33
#display roll no
print("Roll number is :",roll_no)
print(type(roll_no))

#create integre using int()class

id = int(25)
print(id)
print(type(id))

Roll number is : 33
<class 'int'>
25
<class 'int'>

In [2]:
#data types
x=-9999
y=99.99
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [3]:
complex(1)

(1+0j)

In [4]:
complex(1,-2)

(1-2j)

In [5]:
x = 1
y = 2.8
z = 1j

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [6]:
i = 20
print("The binary number is : " ,bin(i))
print("The octal number is : " ,oct(i))
print("The hexa number is : " ,hex(i))

The binary number is :  0b10100
The octal number is :  0o24
The hexa number is :  0x14

In [7]:
x = 99
y = 1.111

#data in int and float
print(type(x))
print(type(y))

#adiition
z = x + y

#type after addition
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

In [8]:
int(123.654)

123

In [9]:
int("10")

10

In [10]:
int("10.5")

ValueError: invalid literal for int() with base 10: '10.5'

In [11]:
int("ten")

ValueError: invalid literal for int() with base 10: 'ten'

In [12]:
#concatenating int and str types
i=99
s="apple"
print(s+str(i))

apple99

In [14]:
import random
# prints a random value from the list
list1=[1,2,3,4,5,6]
print(random.choice(list1))

6

In [17]:
import random
# using choice() to generate a random number from a
# given list of numbers.
print("A random number from list is : ",end="")
print(random.choice([1,2,3,4,5,6]))

A random number from list is : 3

In [18]:
print("A random number from range is : ",end="")
print(random.randrange(20,50,3))

A random number from range is : 41